@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

html {
    font-family: "Lato", sans-serif;
}

.file-upload input {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
/* .file-upload img {
    height: 30px;
    width: 30px;
    margin: 2px;
} */

.mentions {
    margin: 1em 0;
}

.mentions--singleLine .mentions__control {
    display: inline-block;
}
.mentions--singleLine .mentions__higlighter {
    padding: 1px;
    border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
    padding: 5px;
    border: 2px inset;
}

.mentions--multiLine .mentions__control {
    font-family: monospace;
    font-size: 11pt;
    border: 1px solid silver;
}
.mentions--multiLine .mentions__highlighter {
    padding: 9px;
}
.mentions--multiLine .mentions__input {
    padding: 9px;
    min-height: 63px;
    outline: 0;
    border: 0;
}

.mentions__suggestions__list {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 10pt;
}

.mentions__suggestions__item {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
    background-color: #cee4e5;
}

.mentions__mention {
    background-color: #cee4e5;
}

#preview {
    height: 2em;
    width: 12em;
    border-style: solid;
    border-width: 1px;
}
.hashSymbol {
    color: #f90;
}

.red {
    color: red;
}

.accordion {
    overflow: hidden;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.accordion.open {
    max-height: 500px; /* Set to a value that accommodates your content */
}

.accordion-header {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
}

.accordion-content {
    padding: 10px;
}
